@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #767676;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: rgb(0, 0, 0);
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #ffffff;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #000000;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: rgb(0, 0, 0);
}

.todo-input::placeholder {
  color: #0000004d;
}

.todo-btn {
  background: #232324;
  color: #fff;
  border: none;
  padding: 0.58rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.complete-icon {
  cursor: pointer;
  color: #ffffff; /* Green color for the check icon */
  margin-right: 0.5rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #ffffff;
  cursor: default;
  border-color: #767676;
}


.completed-tasks-toggle-btn {
  margin-top: 1rem;
  background: #232324;
  color: #fff;
  border: none;
  padding: 0.80rem;
  cursor: pointer;
  margin-bottom: 1rem;
}



.edit-icon,
.delete-icon {
  cursor: pointer;
}
 